html{
    font-size: 10px;
    font-family: 'Antonio', sans-serif;
    font-weight: 300;
}
*{ box-sizing: border-box;}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*Sections*/
.section-block { height: calc(100vh - 8rem); padding:5rem}
.section-block.not-fullscreen { height: auto}
.section-block.grey { background-color: gray;}
.section-block.purple { background-color: midnightblue;}
.section-block.green { background-color: rgb(85, 14, 126);}
.section-block.red { background-color: rgb(121, 7, 7);}
    .section-block h1, .section-block h2  { display: block; margin-bottom: 2.5rem; text-align: center; font-size:4.8rem; font-weight: 600; }
    .section-block h1, .section-block h2 {color: white;}
/*Aranjăm să arate ok și pe telefon*/
@media (max-width:767px), (max-width:812px) and (orientation:landscape) {
    .section-block { height: auto; min-height: calc(100vh - 8rem); padding: 5rem 2.5rem}
    .section-block.not-fullscreen { min-height: 0}
        .section-block h1, .section-block h2 {  font-size: 2.8rem; margin-bottom: 5rem; margin-left: 2.5rem;}
        .section-block p {margin-right: 2.5rem;}
    footer {height: auto;}
}

/*Sections*/


/*Navigation*/
header{ position: fixed; top:0; left:0; width:100%; display: flex; justify-content: space-between; align-items: center ;height: 8rem; padding: 0.75rem 0.75rem ;background-color: lightgray; z-index: 2;}
    header + *{ margin-top: 8rem;} 
    .logo{ display: inline-block; }
        .logo > img { width: 6rem; height: 6rem; border-radius: 50%;}
    

    .navigation { display: inline-block; text-align: center;}
        .navigation > a { display: inline-block; margin-right: 1rem; font-size: 1.6rem; text-decoration: none; color: black;}
        .navigation > a:last-child { margin-right: 0;}
        .navigation > a:hover{ text-decoration: underline;}
/*Aranjăm să arate ok și pe telefon*/
@media (max-width : 580px){ 
    header { padding:0.75rem 2.5rem;}
        .navigation > a { margin-bottom: 0.5rem;}
}
/*Navigation*/


/*Hero*/
.hero{ display: flex; align-items: center; flex-direction: column; padding: 0 5rem 20vh 1rem; position: relative; height: calc(100vh - 8rem); background-image: url("./assets/banner.jpg"); background-position: center; background-repeat: no-repeat; background-size: cover; color: white;}
    .hero::before{ content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color:rgba( 0, 0, 0, 0.75);}
    .hero h1 { position: relative; z-index: 1; text-align: left; }
    .hero p { position: relative; z-index: 1; font-size: 1.8rem; line-height: 1.3;}
    .hero video { position: relative; z-index: 1; width: 64rem; height: 48rem;}

/*Aranjăm să arate ok și pe telefon*/
@media (max-width:767px), (max-width:812px) and (orientation:landscape){
    .hero { display: block; padding:5rem 2.5rem}
    .hero p { font-size: 1.4rem;}
    .hero video { width: 16rem; height: 12rem;}
}
@media (max-height:800px) and (orientation:landscape) and (min-height:700px){
    .hero video { width: 48rem; height: 36rem;}
}
@media (max-height:700px) and (orientation:landscape) and (min-height:620px){
    .hero video { width: 40rem; height: 30rem;}
}
@media (max-height:620px) and (orientation:landscape) and (min-height:565px){
    .hero video { width: 32rem; height: 24rem;}
}
@media (max-height:565px) and (orientation:landscape){
    .hero video { width: 16rem; height: 12rem;}
}


/*Hero*/


/*Pasiunile și proiectele mele*/
.my-passions { position: relative; background-image: url("./assets/pasiune.jpg"); background-position: center; background-repeat: no-repeat; background-size: cover;}
    .my-passions::before{ content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color:rgba( 0, 0, 0, 0.75);}
    .my-passions h2 {position: relative; z-index: 1; margin-bottom: 7.5rem; color: white;}
    .my-passions-inner-container { position: relative; z-index: 1; color: white;}
        .my-passions-inner-container h3 {  font-size: 2.4rem; text-align: center; margin-bottom: 2.5rem;}
        .my-passions-inner-container p, .my-passions-inner-container ul, .my-passions-inner-container ol {  font-size: 1.6rem; text-align: justify; }
       

.my-portfolio { position: relative; background-image: url("./assets/proiecte.jpg"); background-position: center; background-repeat: no-repeat; background-size: cover;}
    .my-portfolio::before{ content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color:rgba( 0, 0, 0, 0.75);}
    .my-portfolio h2 {position: relative; z-index: 1; margin-bottom: 7.5rem;}
    .my-portfolio h3 {position: relative; z-index: 1; font-size: 2.4rem; text-align: center; margin-bottom: 7.5rem; color: white;}
    .my-portfolio a {text-decoration: none; color: rgb(21, 184, 206);}
    .my-portfolio a:hover {text-decoration: underline; color: blue;}
    .my-portfolio-inner-container {position: relative; z-index: 1; color: white;}
        .my-portfolio-inner-container h3 { font-size: 2.4rem; text-align: center; margin-bottom: 2.5rem;}
        .my-portfolio-inner-container p, .my-portfolio-inner-container ul, .my-portfolio-inner-container ol {margin-top: 2.5rem; font-size: 1.6rem; text-align: justify; }
         
/*Pasiunile și proiectele mele*/


/*Recomandări*/
.recommendation-section-box { height: 21rem; display: flex; align-items: center; color: white;}
    .recommendation-section-box > img { width: 15rem; height: 15rem; margin-right: 2.5rem; border-radius: 50%; }
    .recommendation-section-box h3 { display: block; margin-bottom: 2rem; font-size: 2.4rem; font-weight: 600;}
    .recommendation-section-box p { font-size: 1.4rem;}
/*Aranjăm să arate ok și pe telefon*/
@media (max-width:1023px) {
    .recommendation-section-box { height: auto; display: block; text-align: center;}
    }
/*Recomandări*/

/*Despre mine*/
/*.about-me {}*/
    .about-me-inner-container { display: flex; justify-content: space-between; align-items: center; color: white;}
        .about-me-inner-container > img {width: 30rem; height: 30rem; border-radius: 50%; margin-left: 5rem;}
        .about-me-inner-container h3 {font-size: 3.2rem; margin-bottom: 3rem;}
        .about-me-inner-container p { font-size: 2rem; margin-bottom: 2rem; margin-top: 2rem;}
        #achievements {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
          }
          
          #achievements td, #achievementsth {
            border: 1px solid rgb(5, 5, 5);
            padding: 8px;
          }
          
          #achievements tr:nth-child(even){background-color: #121f8f36; font-family: 'Times New Roman', Times, serif;}
          
          #achievements tr:hover {background-color: rgb(16, 14, 158);}
          
          #achievements th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #c8d836;
            color: black;
          }
@media (max-width:767px) {
    .about-me-inner-container { display: block;}
    .about-me-inner-container > img {width: 20rem; height: 20rem; border-radius: 50%; margin-right: 0rem; margin-bottom: 5rem;}
}

/*Despre mine*/


/*Footer*/
footer { font-size: 1.6rem; color: white; background-size: auto;}
    footer h3 { display: block; margin-bottom: 4rem; font-size: 2.4rem; font-weight: 600;}
    footer address { height: 6rem; margin-bottom: 2rem;}
    footer a { display: flex; align-items: center;}
    .img-container {display: flex; justify-content: space-between; width: 10rem; height: 10rem;}
    .phone-number {display: flex; justify-content: flex-start;margin-bottom: 2rem;}
    .email-adress {display: flex; justify-content: flex-start;margin-bottom: 2rem;}
    footer img { width: 6rem; height: 6rem; margin-right: 2rem;}
@media (max-width:767px) {
    footer div {display: inline-block; width: auto; height: auto;}
    }
/*Footer*/

/*Grid*/
.grid { width: calc( 100% + 5rem ); margin: 0 - 2.5rem;}
    .grid-box { float: left; margin: 0 2.5rem 4rem;}
    .box-full { width: calc( 100% - 5rem );}
    .box-half { width: calc( 50% - 5rem );} 
    .box-third { width: calc( 33.33% - 5rem );}
    .box-quarter { width: calc( 25% - 5rem );}
/*Aranjăm să arate ok și pe telefon*/
@media (max-width:767px) {
    .grid-box { float: left; margin: 0 2.5rem 4rem;}
    .box-half { width: calc( 100% - 5rem );}
    .box-third { width: calc( 50% - 5rem );}
    .box-quarter { width: calc( 33.33% - 5rem );}
}
/*Aranjăm să arate ok și pe telefon*/
@media (max-width:460px) {
    .box-half { width: calc( 100% - 5rem );}
    .box-third { width: calc( 100% - 5rem );}
    .box-quarter { width: calc( 100% - 5rem );}
}
/*Grid*/
